.footer {
  text-align: center;
  background-color: #2d3651;
  box-sizing: border-box;
}

.footer__container {
  width: 1920px;
  background-color: #2d3651;
  margin: auto;
  @include lg {
    width: 992px;
  }
  @include md {
    width: 768px;
  }
  @include sm {
    width: 576px;
  }
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: center;
  position: relative;
  padding-top: 40px;

  @include md {
    padding-top: 50px;
  }
}

.footer__social a {
  display: block;
}

.footer__social::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: calc(50% - 37.5px);
  width: 75px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__copy span:nth-of-type(1) {
  margin-left: 5px;
  letter-spacing: 0.33em;
  font-weight: 100;
}

.footer__copy {
  margin-top: 53px;
  padding-bottom: 65px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #637588;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}

.fab {
  font-size: 36px;
  padding: 7px;
}
