@use "../presets/variables";
@import "../presets/mixins-media";

.about {
  width: $hd;
  height: calc(652px - 100px);
  background-color: #e5e5e5;
  padding-top: 100px;
  letter-spacing: 0.055em;
  margin: auto;
  @include lg {
    padding-top: 78px;
    width: 992px;
    height: 484px;
    position: relative;
  }

  @include md {
    width: 768px;
    height: 421px;
    padding-top: 59px;
    padding-left: 2px;
  }

  @include sm {
    padding-top: 38px;
    width: 576px;
    height: 998px;
  }
}

.about h2 {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 48px;
  color: #2d3651;
  font-weight: 700;
  font-family: "Roboto Slab";
  padding-bottom: 49px;
  @include lg {
    font-size: 32px;
    letter-spacing: 3px;
    line-height: 40px;
    padding-bottom: 35px;
  }

  @include md {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 32px;
    padding-bottom: 25px;
  }

  @include sm {
    width: 532px;
    height: 69px;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 19px;
  }
}

.about__content p {
  padding-bottom: 16px;

  @include md {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #637588;
    font-weight: 400;
    font-family: "Roboto";
  }
}

.about__container {
  max-width: calc($ul - 112px);
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 93px;
  padding-left: 310px;
  @include lg {
    position: relative;
    padding-left: 20px;
    gap: 0px;
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}

.about__content {
  display: grid;
  width: 936px;
  height: 319px;
  font-size: 18px;
  line-height: 24px;
  color: #637588;
  font-weight: 400;
  font-family: "Roboto";
  @include lg {
    width: 625px;
  }
  @include md {
    width: 421px;
  }
  @include sm {
    height: calc(100% - 20px);
  }
}

.about__content p:nth-of-type(3) {
  @include lg {
    display: none;
  }
  @include sm {
    display: block;
  }
}

.about__content p:nth-of-type(4) {
  @include lg {
    display: none;
  }
}

.about__image img {
  @include lg {
    width: 255px;
    margin-bottom: 500px;
  }
  @include sm {
    width: 270px;
    margin-bottom: 0px;
  }
}

.about__image {
  margin-top: 3px;
  @include lg {
    width: 20px;
    position: absolute;
    margin-left: 716px;
  }

  @include md {
    margin-left: 500px;
  }

  @include sm {
    display: grid;
    position: static;
    height: 100%;
    margin-left: 0;
    width: calc(576px - 20px);
    justify-content: center;
    margin-top: -28px;
  }
}
