.pixa1 {
  padding-left: 2px;
  padding-top: 1px;
}

.pixa2 {
  @include md {
    padding-left: 2px;
  }
}

.pixa3 {
  padding-left: 2px;
  padding-top: 1px;
}

.pixa4 {
  padding-left: 3px;
  padding-top: 1px;
}

.pixa5 {
  padding-left: 3px;
  padding-top: 1px;
}

.pixa6 {
  padding-left: 3px;
  padding-top: 1px;
}

.pixa7 {
  padding-left: 2px;
  padding-top: 1px;
}

.pixa8 {
  padding-left: 5px;
  padding-top: 1px;
}

.pixa9 {
  padding-left: 0px;
  padding-top: 1px;
}
