@use "../presets/variables";
@import "../presets/mixins-media";

.about {
  background-color: #e5e5e5;
  padding-top: 100px;
  letter-spacing: 0.055em;
  padding-bottom: 107px;
  padding-right: 69px;
  margin: auto;
  @include lg {
    padding-bottom: 105px;
    padding-top: 80px;
    letter-spacing: 0.055em;
    height: 484px;
    position: relative;
  }

  @include md {
    width: 768px;
    height: 530px;
    padding-top: 60px;
    padding-left: 2px;
  }

  @include sm {
    padding-top: 60px;
    width: 576px;
    height: 998px;
    padding-bottom: 101px;
  }
}

.about h2 {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 48px;
  color: #2d3651;
  font-weight: 700;
  font-family: "Roboto Slab";
  padding-bottom: 43px;
  @include lg {
    letter-spacing: 0.1em;
    padding-bottom: 37px;
    line-height: 1.2em;
    font-size: 2rem;
  }

  @include md {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    padding-bottom: 31px;
  }

  @include sm {
    width: 532px;
    height: 69px;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    padding-left: 1px;
    text-align: center;
    padding-bottom: 19px;
  }
}

.about__content p {
  padding-bottom: 16px;

  @include md {
    font-size: 16px;
    letter-spacing: 0.055em;
    line-height: 1.15;
    color: #637588;
    font-weight: 400;
    font-family: "Roboto";
  }
}

.about__container {
  max-width: 1231px;
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 93px;
  margin: auto;
  @include lg {
    position: relative;
    padding-left: 20px;
    gap: 0px;
  }
  @include md {
    padding-left: 18px;
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}

.about__content {
  display: grid;
  max-width: 927px;
  height: 319px;
  font-size: 18px;
  line-height: 1.18;
  color: #637588;
  font-weight: 400;
  font-family: "Roboto";
  @include lg {
    line-height: 1.15;
    max-width: 635px;
    font-size: 16px;
  }
  @include md {
    max-width: 471px;
  }
  @include sm {
    height: calc(100% - 20px);
  }
}

.about__content p:nth-of-type(3) {
  @include sm {
    display: block;
  }
}

.about__image img {
  width: 267px;
  height: 480px;
  padding-top: 7px;
  @include lg {
    width: 267px;
    padding-top: 11px;
    margin-left: -20px;
  }
  @include md {
    padding-top: 10px;
    width: 236px;
    height: 425px;
  }
  @include sm {
    width: 268px;
    height: 486px;
    margin-bottom: 11px;
  }
}

.about__image {
  margin-top: 3px;
  @include lg {
    width: 100%;
  }

  @include md {
    margin-top: 65px;
    margin-left: -39px;
  }

  @include sm {
    display: grid;
    position: static;
    height: 100%;
    margin-left: 0;
    width: calc(576px - 20px);
    justify-content: center;
    margin-top: -7px;
  }
}
