@use "../presets/variables";
@import "../presets/mixins-media";

.about {
  margin: auto;
  padding-top: 100px;
  padding-right: 69px;
  padding-bottom: 85px;

  letter-spacing: 0.055em;

  background-color: #e5e5e5;

  @include lg-md {
    position: relative;

    padding-top: 80px;
    padding-bottom: 64px;

    letter-spacing: 0.055em;
  }
  @include md-sm {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 44px;
    padding-left: 2px;
  }
  @include sm {
    width: 100%;
    max-width: 576px;
    padding-top: 60px;
    padding-bottom: 49px;
    padding-left: 2px;
  }

  & h2 {
    padding-bottom: 43px;

    letter-spacing: 4px;

    color: #2d3651;

    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

    @include lg-md {
      padding-bottom: 37px;

      letter-spacing: 0.1em;

      font-size: 2rem;
      line-height: 1.2em;
    }
    @include md-sm {
      padding-bottom: 31px;

      letter-spacing: 0.1em;

      font-size: 1.5rem;
      line-height: 1.2em;
    }
    @include sm {
      max-width: 532px;
      height: 69px;
      padding-bottom: 19px;
      padding-left: 1px;

      text-align: center;
      letter-spacing: 0.1em;

      font-size: 1.5rem;
      line-height: 1.2em;
    }
  }

  &__content {
    display: grid;

    max-width: 927px;
    height: 100%;

    color: #637588;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.18;

    @include lg-md {
      max-width: 635px;
      height: 100%;

      font-size: 16px;
      line-height: 1.15;
    }
    @include md-sm {
      max-width: 471px;
    }
    @include sm {
      display: block;

      max-width: 537px;
      height: calc(100% - 20px);

      font-size: 16px;
      line-height: 1.15;
    }

    & p {
      padding-bottom: 16px;

      @include md {
        letter-spacing: 0.055em;

        color: #637588;

        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.15;
      }

      &:nth-of-type(3) {
        @include sm {
          display: block;
        }
      }
    }
  }

  &__container {
    display: grid;

    max-width: 1231px;
    margin: auto;
    padding: 0 20px;

    gap: 93px;
    grid-template-columns: 1fr 200px;
    @include lg-md {
      position: relative;

      padding: 0;
      padding-left: 20px;

      gap: 66px;
    }
    @include md-sm {
      padding: 0;
      padding-left: 18px;

      gap: 66px;
    }
    @include sm {
      display: block;

      padding-left: 18px;

      gap: 0;
      grid-template-columns: 1fr;
    }
  }

  &__image {
    margin-top: 3px;

    @include lg-md {
      width: 100%;
    }
    @include md-sm {
      margin-top: 65px;
      margin-left: -39px;
    }
    @include sm {
      position: static;

      display: grid;
      justify-content: center;

      height: 100%;
      margin-top: -7px;
      margin-left: -2px;
    }
    & img {
      @include lg-min {
        width: 267px;
        height: 480px;
        padding-top: 7px;
      }
      @include lg-md {
        width: 267px;
        margin-left: -20px;
        padding-top: 11px;
      }
      @include md-sm {
        width: 236px;
        height: 425px;
        margin-left: -20px;
        padding-top: 10px;
        padding-left: 1px;
      }
      @include sm {
        width: 100%;
        max-height: 480px;
        margin-bottom: 11px;
        padding-top: 12px;
      }
    }
  }
}
