.btn--primary {
  display: grid;

  width: 346px;
  height: 56px;

  letter-spacing: 0.1em;

  color: #ffffff;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);

  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 400;

  @include lg-sm {
    width: 346px;
    height: 56px;
  }
  @include sm {
    width: calc(100% - 4px);
  }
  &:hover,
  &:focus {
    border-color: white;
    background-color: #d66926;
  }
}

.skills:hover .btn--primary {
  border: 2px solid #2d3651;
}

.posts:hover .btn--primary {
  border: 2px solid #2d3651;
}

.btn {
  display: grid;
  align-items: center;
  justify-content: center;

  transition: background-color 0.5s;
}

.btn:hover,
.bnt:focus {
  background-color: #d66926;
}

.btn--light {
  width: 246px;
  height: 54px;
  padding-bottom: 2px;

  letter-spacing: 0.1em;

  border: 2px solid #ffffff;
  background-color: #ffffff1a;

  @include lg-md {
    display: grid;

    width: 196px;
    height: 46px;
    padding-bottom: 0;
  }
  @include md {
    display: grid;
    align-items: center;

    width: 166px;
    height: 34px;
    padding-top: 0;
  }
}
