.pixa1 {
  margin-top: -1px;
}

.pixa2 {
  margin-top: -1px;
}

.pixa3 {
  margin-top: -1px;
}

.pixa4 {
  margin-top: -1px;
}

.pixa5 {
  margin-top: -1px;
}

.pixa6 {
  margin-top: -1px;
}

.pixa7 {
  margin-top: 0px;
}

.pixa8 {
  margin-top: 0px;
}

.pixa9 {
  margin-top: 0px;
}
