.posts {
  display: grid;
  justify-content: center;

  margin: auto;
  padding-top: 100px;

  @include lg-md {
    padding-top: 80px;
  }
  @include md {
    padding-top: 61px;
  }
  @include sm {
    padding-top: 60px;
  }

  & h2 {
    padding-bottom: 48px;

    letter-spacing: 4px;

    color: #2d3651;

    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

    @include lg-md {
      margin-top: -1px;
      padding-bottom: 41px;

      letter-spacing: 0.1em;

      color: #2d3651;

      font-size: 2rem;
      font-weight: 700;
      line-height: 40px;
    }
    @include md-sm {
      max-width: 724px;
      height: 53px;
      margin-top: -1px;
      padding-bottom: 12px;

      letter-spacing: 0.1em;

      font-size: 1.5rem;
      line-height: 1.2em;
    }
    @include sm {
      width: 100%;
      height: 64px;
      padding-bottom: 0;

      text-align: center;
      letter-spacing: 0.1em;

      font-size: 1.5rem;
      line-height: 1.2em;
    }
  }

  &__container {
    max-width: 1300px;
    padding: 0 20px;

    @include sm {
      max-width: 576px;
      padding: 0 20px;
    }
  }
  &__grid {
    display: grid;

    grid-gap: 20px 20px;
    grid-template-areas: "p1 p1 p2 p3"
    "p4 p5 p6 p6";
    grid-template-columns: repeat(4, 1fr);
    @include lg-md {
      padding-bottom: 20px;

      grid-template-areas: "p1 p1 p2"
      "p3 p4 p4"
      "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      padding-bottom: 20px;

      grid-template-areas: "p1 p2"
      "p3 p4"
      "p5 p6";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      padding-bottom: 20px;

      grid-template-areas: "p1"
      "p2"
      "p3"
      "p4"
      "p5"
      "p6";
      grid-template-columns: 1fr;
    }
  }

  &__actions {
    display: grid;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 0;

    @include lg-md {
      margin-top: 0;
      margin-bottom: 80px;
    }
    @include md-sm {
      margin-top: 0;
      margin-bottom: 60px;
    }
    @include sm {
      display: flex;

      margin-top: 0;
      margin-bottom: 60px;
    }
  }
}

.fa-pinterest {
  color: #000000;
}

.about__content p:first-of-type::after {
  position: absolute;
  top: 0;
  right: -52px;

  width: 2px;
  height: 200px;

  content: "";

  background-color: rgba(99, 117, 136, 0.1);

  @include lg-md {
    right: -25px;
  }
  @include md-sm {
    right: -10px;
  }
  @include sm {
    display: none;
  }
}

.about__content p:first-of-type {
  position: relative;
}

img {
  transition: transform 0.5s;
}

.post-item {
  height: 100%;

  transition: background-color 0.5s;

  background-color: #f2f2f2;
  &__link {
    display: grid;

    width: 100%;
    height: 100%;

    transition: background-color 0.5s;

    background-color: #f2f2f2;

    grid-template-rows: 300px 1fr;
  }

  &__link:hover {
    background-color: #d8d8d8;
  }

  &__link:hover img {
    transform: scale(1.1);
  }

  &__image {
    display: flex;
    overflow: hidden;
    justify-content: center;

    width: 100%;
    height: 100%;

    & img {
      width: 100%;

      @include lg {
        width: 100%;

        object-fit: cover;
      }
    }
  }

  &__caption {
    display: grid;
    align-content: center;

    padding: 20px;

    text-align: center;

    color: #637588;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;

    @include sm {
      padding: 20px;
    }
    & h3 {
      padding: 18px 0 17px 0;

      letter-spacing: 0.05em;

      font-family: "Roboto Slab";
      font-size: 1.125rem;
      line-height: 1.15;

      @include lg {
        padding: 18px 0 18px 0;
      }
    }

    & p {
      margin: 16px 0;

      line-height: 1.16;

      @include lg {
        line-height: 1.15;
      }
    }
  }
  & .btn--primary {
    width: 350px;
    height: 60px;

    @include lg-md {
      padding-bottom: 2px;
    }
    @include md-sm {
      height: 60px;
      padding-top: 2px;
    }
    @include sm {
      width: 100%;
    }
  }
  &:nth-of-type(1) {
    grid-area: p1;
  }
  &:nth-of-type(2) {
    grid-area: p2;
  }
  &:nth-of-type(3) {
    grid-area: p3;
  }
  &:nth-of-type(4) {
    grid-area: p4;
  }
  &:nth-of-type(5) {
    grid-area: p5;
  }
  &:nth-of-type(6) {
    grid-area: p6;
  }
}
