@import "../presets/mixins-media";

.header {
  position: relative;

  display: grid;

  min-height: 100vh;

  background-position: 50% 50%;
  background-size: cover;

  &-logo {
    margin-top: -1px;

    letter-spacing: 0.22em;

    font-size: 1.5rem;

    &__link {
      display: block;
    }

    &__accent {
      margin-right: -0.31em;
      padding: 13px 1px 13px 5px;

      border: 3px solid #d53d27;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.8;
    background-color: #2d3651;
  }

  &-content {
    display: grid;
    &__title {
      @include lg-md {
        margin-top: 20px;

        text-align: center;
        letter-spacing: 0.08em;

        color: #ffffff;

        font-family: "Roboto Slab";
        font-size: 2.5rem;
        font-weight: 300;
      }
      @include md-sm {
        margin-top: 20px;
        margin-bottom: 34px;

        font-size: 1.875rem;
      }
      @include sm {
        max-width: 330px;
        margin-top: 20px;
        margin-top: 19px;
        margin-bottom: 33px;

        letter-spacing: 0.08em;

        font-size: 1.875rem;
        line-height: 36px;
      }
    }

    &__actions {
      z-index: 1;

      display: grid;
      justify-content: center;

      margin-left: 7px;
      padding-bottom: 3px;

      letter-spacing: 2px;

      color: #ffffff;

      font-family: "Roboto";
      font-size: 18px;
      font-weight: 400;

      grid-column-gap: 20px;
      grid-template-areas: "a a";
      @include lg-md {
        margin-bottom: 16px;
        margin-left: 0;
        padding-left: 8px;

        letter-spacing: 2px;

        color: #ffffff;

        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;

        grid-column-gap: 20px;
      }
      @include md-sm {
        margin-bottom: 15px;
        margin-left: 9px;

        letter-spacing: 2px;

        color: #ffffff;

        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
      }
      @include sm {
        margin-bottom: 15px;
        margin-left: 8px;

        letter-spacing: 2px;

        font-size: 16px;

        grid-template-areas: "a"
        "a";
        row-gap: 20px;
      }
    }

    &__container {
      z-index: 1;

      display: grid;

      max-width: 1340px;
      margin: auto;
      padding: 150px 0;
      padding-right: 7px;

      text-align: center;

      grid-row-gap: 50px;
      @include lg-md {
        grid-row-gap: 39px;
      }
      @include md-sm {
        grid-row-gap: 0;
      }
      @include sm {
        grid-row-gap: 0;
      }
    }
  }

  &-menu {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;

    @include md {
      max-width: 768px;
      height: 100px;

      background-color: rgba(68, 89, 110, 0.25);
      box-shadow: 0 0 25px 5px black;
    }

    &__container {
      z-index: 2;

      display: grid;

      box-sizing: border-box;
      max-width: 1340px;
      margin: auto;
      padding: 38px 20px 0 20px;

      grid-template-columns: auto 1fr;;
    }
  }

  &-navbar {
    @include md {
      display: grid;
      justify-content: end;
      &__btn {
        position: relative;

        width: 30px;
        height: 22.5px;
        margin-top: 1px;

        cursor: pointer;
        transition: 0.5s ease-in-out;
        transform: rotate(0deg);

        &-row {
          position: absolute;

          display: block;

          width: 50%;
          height: 3px;

          transition: 0.25s ease-in-out;
          transform: rotate(0deg);

          opacity: 1;
          background-color: #ffffff;

          &:nth-child(even) {
            left: 50%;

            border-radius: 0 3px 3px 0;
          }
          &:nth-child(even) {
            left: 50%;

            border-radius: 0 3px 3px 0;
          }
          &:nth-child(odd) {
            left: 0;

            border-radius: 3px 0 0 3px;
          }
          &:nth-child(1),
          &:nth-child(2) {
            top: 0;
          }

          &:nth-child(3),
          &:nth-child(4) {
            top: 9px;
          }

          &:nth-child(5),
          &:nth-child(6) {
            top: 18px;
          }
        }
        &.active span {
          &:nth-child(1),
          &:nth-child(6) {
            transform: rotate(45deg);
          }

          &:nth-child(2),
          &:nth-child(5) {
            transform: rotate(-45deg);
          }

          &:nth-child(1) {
            top: 3.5px;
            left: 2.5px;
          }

          &:nth-child(2) {
            top: 3.5px;
            left: calc(50% - 2.5px);
          }

          &:nth-child(3) {
            left: -50%;

            opacity: 0;
          }

          &:nth-child(4) {
            left: 100%;

            opacity: 0;
          }

          &:nth-child(5) {
            top: 14.5px;
            left: 2.5px;
          }

          &:nth-child(6) {
            top: 14.5px;
            left: calc(50% - 2.5px);
          }
        }
      }
    }
    &__list {
      display: grid;
      justify-content: end;

      margin: 0 -10px 0 0;
      padding-top: 2px;

      list-style: none;

      letter-spacing: 1px;

      font-size: 18px;

      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      @include lg-md {
        margin-right: -10px;
      }
      @include md {
        position: absolute;
        top: 100%;
        right: 30px;

        display: none;

        padding-top: 0;
        padding-left: 0;

        text-align: right;

        background-color: rgba(68, 89, 110, 0.9);
        box-shadow: 3px 3px 30px 3px;
      }
    }

    &__item {
      @include md {
        margin: 20px 10px;
      }
    }

    &__link {
      padding: 0 10px;

      letter-spacing: 0.1em;

      font-size: 1.125rem;

      @include md {
        display: block;

        padding: 10px 20px;
      }
    }
  }
}
