.footer {
  text-align: center;
  background-color: #2d3651;
  box-sizing: border-box;

  &__container {
    max-width: 1340px;
    background-color: #2d3651;
    margin: auto;
    @include lg-min {
      max-width: 992px;
    }
    @include md-sm {
      max-width: 768px;
    }
    @include sm {
      max-width: 576px;
    }
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    justify-content: center;
    position: relative;
    padding-top: 50px;

    @include md {
      padding-top: 50px;
    }

    & a {
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: calc(50% - 37.5px);
      width: 75px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__copy {
    margin-top: 40px;
    padding-bottom: 70px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: white;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    @include lg-md{
      margin-top: 39px;
      padding-bottom: 70px;
      font-size: 16px;
      letter-spacing: 0.05em;
      line-height: 19px;
    }
    @include md-sm {
      margin-top: 40px;
      padding-bottom: 70px;
    }
    @include sm {
      margin-top: 40px;
      line-height: 1.14;
      padding-bottom: 69px;
    }
    & span:nth-of-type(1) {
      margin-left: 8px;
      letter-spacing: 0.33em;
      font-weight: 100;
      color: #637588;
    }

    & span:nth-of-type(2) {
      margin-bottom: 10px;
    }
  }

  .fab {
    font-size: 36px;
    padding: 10px;
  }
}
